/src/admin/**
/src/catalog/**
/src/collaboration/**
/src/data/**
/src/docstru/**
/src/documents/**
/src/editor/**
/src/formats/**
/src/i18n/**
/src/lib/**
/src/merger/**
/src/native/**
/src/pdf/**
/src/redux-tools/**
/src/structure/**
/src/support/**
/src/template/**
/src/tools/**
/src/user/**
/src/widget/**